<label class="mfm-avatar-uploader">
	<input
		name="{{name}}"
		class="mfm-avatar-uploader__input"
		type="file"
	>
	{{> 'avatar/avatar' src=src}}
	<p class="mfm-avatar-uploader__hover-overlay mfm-typography__text_s">
		Upload new picture
	</p>
</label>
