.mfm-button-with-chevron {
  display: flex;
  align-items: center;
  gap: 8px;

  & > svg {
    flex-shrink: 0;
    width: 18px;
    height: 18px;
  }

  &_right > svg {
    transform: rotate(0);
  }

  &_left > svg {
    transform: rotate(180deg);
  }

  &_down > svg {
    transform: rotate(90deg);
  }

  &_up > svg {
    transform: rotate(-90deg);
  }
}
