{{#> 'chat/chat'}}
	{{#> 'chatsListColumn/chatsListColumn'}}
		{{> 'chatsListItem/chatsListItem'
			chatName='Excepteur sint'
			lastMessageTime='13:00'
			lastMessage='Duis aute irure'
		}}

		{{> 'chatsListItem/chatsListItem'
			chatName='Lorem ipsum dolor sit amet, consectetur'
			lastMessageTime='12:45'
			lastMessage='Ut enim ad minima veniam'
			newMessagesCount=1
			isLastMessageOwn=true
			active=true
		}}

		{{> 'chatsListItem/chatsListItem'
			chatName='Sed ut perspiciatis unde'
			lastMessageTime='10:05'
			lastMessage='omnis iste natus error sit voluptatem'
		}}
		{{> 'chatsListItem/chatsListItem'
			chatName='Accusantium doloremque'
			lastMessageTime='10:00'
			lastMessage='laudantium, totam rem aperiam'
		}}
		{{> 'chatsListItem/chatsListItem'
			chatName='eaque ipsa'
			lastMessageTime='09:55'
			lastMessage='quae ab illo'
		}}
		{{> 'chatsListItem/chatsListItem'
			chatName='inventore veritatis'
			lastMessageTime='09:50'
			lastMessage="et quasi architecto"
		}}
		{{> 'chatsListItem/chatsListItem'
			chatName='beatae vitae dicta'
			lastMessageTime='09:50'
			lastMessage='sunt explicabo.'
		}}
		{{> 'chatsListItem/chatsListItem'
			chatName='Nemo enim'
			lastMessageTime='09:45'
			lastMessage='ipsam voluptatem'
		}}
		{{> 'chatsListItem/chatsListItem'
			chatName='quia voluptas sit'
			lastMessageTime='09:40'
			lastMessage='aspernatur aut odi'
		}}
		{{> 'chatsListItem/chatsListItem'
			chatName='aut fugit, sed quia'
			lastMessageTime='09:35'
			lastMessage='consequuntur magni'
		}}
		{{> 'chatsListItem/chatsListItem'
			chatName='dolores eos qui'
			lastMessageTime='09:30'
			lastMessage='ratione voluptatem'
		}}
		{{> 'chatsListItem/chatsListItem'
			chatName='sequi nesciunt'
			lastMessageTime='09:25'
			lastMessage='neque porro quisquam'
		}}
	{{/'chatsListColumn/chatsListColumn'}}

	<div class="mfm-chat-page__chat-column">
		<div class="mfm-chat-page__chat-column__header">
			<div class="mfm-chat-page__chat-column__header__info">
				{{> 'avatar/avatar'}}
				<div class="mfm-chat-page__chat-column__header__info__chat-name mfm-typography__text_l">
					Lorem ipsum dolor sit amet, consectetur
				</div>
			</div>

			{{#> 'iconButton/iconButton'}}
				{{> 'icons/verticalDots'}}
			{{/'iconButton/iconButton'}}
		</div>

		<div class="mfm-chat-page__chat-column__messages-list">
			<div class="mfm-chat-page__chat-column__messages-list__day-marker mfm-typography__text_m">
				Today
			</div>

			{{> 'messageBubble/messageBubble'
				messageText='Vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?'
				time='03:30'
			}}

			{{> 'messageBubble/messageBubble'
				imageSrc='https://miro.medium.com/max/1200/1*ddyz8qnOhFeFKY-_c3tleQ.jpeg'
				messageText='Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum'
				time='03:33'
			}}
			{{> 'messageBubble/messageBubble'
				messageText='Ut enim ad minima veniam'
				time='12:45'
				own=true
				seen=true
			}}
		</div>

		<form class="mfm-chat-page__chat-column__message-input-form">
			{{#> 'messageFormActionButton/messageFormActionButton'}}
				{{> 'icons/clip'}}
			{{/'messageFormActionButton/messageFormActionButton'}}
			<input
				class="mfm-chat-page__chat-column__message-input-form__input mfm-typography__text_m"
				placeholder="Input message here"
			>
			{{> 'arrowButton/arrowButton'}}
		</form>
	</div>
{{/'chat/chat'}}
