.mfm-counter {
  display: inline-block;
  flex-shrink: 0;
  min-width: 18px;
  padding: 2px 2px;
  border-radius: 11px;
  background: var(--mfm-color-blue);
  color: var(--mfm-color-white);
  text-align: center;

  &__inner {
    text-align: center;
  }
}
