{{#> 'profileLayout/profileLayout' title='Edit password'}}
	<form class="mfm-profile-page__form">
		{{> 'formInput/formInput'
			name='oldPassword'
			label='Curent password'
			placeholder='Curent password'
			type='password'
		}}
		{{> 'formInput/formInput'
			name='newPassword'
			label='New password'
			placeholder='New password'
			type='password'
		}}
		{{> 'formInput/formInput'
			name='newPassword'
			label='Confirm new password'
			placeholder='Enter new password again'
			type='password'
		}}

		{{#> 'button/button' variant="primary"}}
			Save
		{{/'button/button'}}
	</form>
{{/'profileLayout/profileLayout'}}
