{{#> 'profile/profile' title='Profile'}}
	<div class="mfm-chat-page__fields-container">
		<div class="mfm-chat-page__field mfm-typography__text_m">
			<div class="mfm-chat-page__info-field__name">
				Email
			</div>
			<div class="mfm-chat-page__info-field__value">
				pochta@yandex.ru
			</div>
		</div>
		<div class="mfm-chat-page__field mfm-typography__text_m">
			<div class="mfm-chat-page__info-field__name">
				Username
			</div>
			<div class="mfm-chat-page__info-field__value">
				ivanivanov
			</div>
		</div>
		<div class="mfm-chat-page__field mfm-typography__text_m">
			<div class="mfm-chat-page__info-field__name">
				First name
			</div>
			<div class="mfm-chat-page__info-field__value">
				Ivan
			</div>
		</div>
		<div class="mfm-chat-page__field mfm-typography__text_m">
			<div class="mfm-chat-page__info-field__name">
				Last name
			</div>
			<div class="mfm-chat-page__info-field__value">
				Ivanov
			</div>
		</div>
		<div class="mfm-chat-page__field mfm-typography__text_m">
			<div class="mfm-chat-page__info-field__name">
				Phone number
			</div>
			<div class="mfm-chat-page__info-field__value">
				+7 (909) 967 30 30
			</div>
		</div>
	</div>

	<div class="mfm-chat-page__fields-container">
		<div class="mfm-chat-page__field">
			{{#> 'button/button' variant='inline'}}
				Change personal info
			{{/'button/button'}}
		</div>
		<div class="mfm-chat-page__field">
			{{#> 'button/button' variant='inline'}}
				Change password
			{{/'button/button'}}
		</div>
		<div class="mfm-chat-page__field mfm-chat-page__logout-button">
			{{#> 'button/button' variant='inline'}}
				Logout
			{{/'button/button'}}
		</div>
	</div>
{{/'profile/profile'}}