.mfm-modal-content {
  display: flex;
  flex-direction: column;
  gap: 32px;

  &__title {
    font-weight: 500;
    color: var(--mfm-color-asphalt);
    text-align: center;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
