@import './fonts.pcss';
@import './mixins.pcss';
@import './typography.pcss';
@import './variables.pcss';

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: var(--mfm-color-asphalt);
  background: var(--mfm-color-white);
}

h1 {
  margin: 0;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}
