@import './fonts.pcss';
@import './mixins.pcss';
@import './typography.pcss';
@import './variables.pcss';

/* Layouts */
@import '../layouts/auth/auth.pcss';
@import '../layouts/chat/chat.pcss';
@import '../layouts/fallback/fallback.pcss';
@import '../layouts/profile/profile.pcss';

/* Pages */
@import '../pages/chat/chat.pcss';

/*Partials*/
@import '../components/arrowButton/arrowButton.pcss';
@import '../components/avatar/avatar.pcss';
@import '../components/avatarUploader/avatarUploader.pcss';
@import '../components/button/button.pcss';
@import '../components/buttonWithChevron/buttonWithChevron.pcss';
@import '../components/chatsListColumn/chatsListColumn.pcss';
@import '../components/chatsSearchListItem/chatsSearchListItem.pcss';
@import '../components/chatsListItem/chatsListItem.pcss';
@import '../components/counter/counter.pcss';
@import '../components/formInput/formInput.pcss';
@import '../components/iconButton/iconButton.pcss';
@import '../components/input/input.pcss';
@import '../components/link/link.pcss';
@import '../components/messageBubble/messageBubble.pcss';
@import '../components/messageFormActionButton/messageFormActionButton.pcss';
@import '../components/searchInput/searchInput.pcss';

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: var(--mfm-color-asphalt);
  background: var(--mfm-color-white);
}

h1 {
  margin: 0;
}