:root {
  --mfm-color-asphalt: #1E1E1E;
  --mfm-color-white: #FFFFFF;
  --mfm-color-gray: #999999;
  --mfm-color-gray-light: #EFEFEF;
  --mfm-color-gray-lighter: #FBFBFB;
  --mfm-color-blue: #3369F3;
  --mfm-color-blue-dark: #305FD7;
  --mfm-color-blue-darker: #2247A8;
  --mfm-color-blue-light: #E4EDFD;
  --mfm-color-red: #FF2F2F;
  --mfm-color-red-dark: #E02A2A;
  --mfm-color-red-darker: #B92626;
}
