.mfm-profile-info-field {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--mfm-color-gray-light);
  padding: 14px 0;

  &__name {
    color: var(--mfm-color-asphalt);
  }

  &__value {
    color: var(--mfm-color-gray);
  }

  &__name,
  &__value {
    font-weight: 500;
  }
}
