{{#> 'profileLayout/profileLayout' title='Edit profile'}}
	<form class="mfm-chat-page__form">
		{{> 'formInput/formInput'
			name='email'
			label='Email'
			placeholder='Email'
		}}
		{{> 'formInput/formInput'
			name='login'
			label='Username'
			placeholder='Username'
		}}
		{{> 'formInput/formInput'
			name='first_name'
			label='First name'
			placeholder='First name'
		}}
		{{> 'formInput/formInput'
			name='second_name'
			label='Second name'
			placeholder='Second name'
		}}
		{{> 'formInput/formInput'
			name='display_name'
			label='Display name'
			placeholder='Display name'
		}}
		{{> 'formInput/formInput'
			name='phone'
			label='Phone number'
			placeholder='Phone number'
		}}

		{{#> 'button/button' variant="primary"}}
			Save
		{{/'button/button'}}
	</form>
{{/'profileLayout/profileLayout'}}
