{{#> 'profile/profile' title='Edit profile'}}
	<form class="mfm-chat-page__form">
		{{> 'formInput/formInput' label='Email' placeholder='Email' }}
		{{> 'formInput/formInput' label='Username' placeholder='Username' }}
		{{> 'formInput/formInput' label='First name' placeholder='First name' }}
		{{> 'formInput/formInput' label='Last name' placeholder='Last name' }}
		{{> 'formInput/formInput' label='Phone number' placeholder='Phone number' }}

		{{#> 'button/button' variant="primary"}}
			Save
		{{/'button/button'}}
	</form>
{{/'profile/profile'}}