{{#> "root/root" title=title}}
	<div class="mfm-auth-page-layout">
		<div class="mfm-auth-page-layout__form-window">
			<h1 class="mfm-typography__text_xl">{{title}}</h1>

			<form class="mfm-auth-page-layout__form-window__form">
				<div class="mfm-auth-page-layout__form-window__form__fields">
					{{#block "inputs"}}{{/block}}
				</div>
				<div class="mfm-auth-page-layout__form-window__form__buttons">
					{{#block "buttons"}}{{/block}}
				</div>
			</form>
		</div>
	</div>
{{/"root/root"}}