.mfm-search-input {
  &__container {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    border-radius: 6px;
    background: var(--mfm-color-gray-light);
    color: var(--mfm-color-asphalt);

    & > svg {
      width: 20px;
      height: 20px;
      margin-right: 8px;
      color: var(--mfm-color-gray);
    }
  }

  &__input {
    border: none;
    padding: 0;
    background: none;
    outline: none;
  }
}