.mfm-modal {
  &__overlay {
    z-index: 1;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(0 0 0 / 40%);
  }

  &__window {
    min-width: 340px;
    padding: 32px;
    border-radius: 12px;
    box-sizing: border-box;
    background: var(--mfm-color-white);
  }
}
