{{#> 'root/root' title=title}}
	<main class="mfm-profile-page">
		<div class="mfm-profile-page__go-back-button-column">
			{{> 'arrowButton/arrowButton' direction='left'}}
		</div>

		<div class="mfm-profile-page__main">
			<div class="mfm-profile-page__main__content">
				{{> 'avatarUploader/avatarUploader' name='avatar' }}

				{{> @partial-block }}
			</div>
		</div>
	</main>
{{/'root/root'}}
