{{#> 'root/root' title=code}}
	<main class="mfm-fallback-page-layout">
		<h1 class="mfm-typography__heading">
			{{code}}
		</h1>
		<span class="mfm-typography__text_xl">
			{{message}}
		</span>

		{{#> 'link/link' href='#'}}
			Return to main page
		{{/'link/link'}}
	</main>
{{/'root/root'}}
