.mfm-form-input {
  display: flex;
  flex-direction: column;

  &__label-text {
    color: var(--mfm-color-gray);
  }

  &:focus-within &__label-text {
    color: var(--mfm-color-asphalt);
  }

  &__error-text {
    height: 16px;
    color: var(--mfm-color-red);
  }
}