.mfm-tooltip {
  &__content-container {
    position: fixed;
    z-index: 1;
    overflow: hidden;
    border-radius: 12px;
    background: var(--mfm-color-white);
    box-shadow: 0 0 6px rgb(0 0 0 / 14%);
  }
}
