<ul>
	<li>
		<a href="./pages/signIn/index.hbs">Sign in</a>
	</li>
	<li>
		<a href="./pages/signUp/index.hbs">Sign up</a>
	</li>
	<li>
		<a href="./pages/chat/index.hbs">Chat</a>
	</li>
	<li>
		<a href="./pages/profile/index.hbs">Profile</a>
	</li>

	<li>
		<a href="./pages/profileEdit/index.hbs">Profile edit</a>
	</li>

	<li>
		<a href="./pages/passwordEdit/index.hbs">Password edit</a>
	</li>

	<li>
		<a href="./pages/404/index.hbs">404</a>
	</li>

	<li>
		<a href="./pages/500/index.hbs">500</a>
	</li>
</ul>