<button class="mfm-chats-list-item {{#if active}}mfm-chats-list-item_active{{/if}}">
	{{> "avatar/avatar" image=image}}

	<div class="mfm-chats-list-item__description">
		<div class="mfm-chats-list-item__description__title-row">
			<div class="mfm-chats-list-item__description__title-row__chat-name mfm-typography__text_l">
				{{chatName}}
			</div>
			<div class="mfm-chats-list-item__description__title-row__time mfm-typography__text_s">
				{{lastMessageTime}}
			</div>
		</div>

		<div class="mfm-chats-list-item__description__message-row">
			<div class="mfm-chats-list-item__description__message-row__message-content mfm-typography__text_m">
				{{#if isLastMessageOwn}}
					<div class="mfm-chats-list-item__description__message-row__message-content__prefix">
						You:&nbsp;
					</div>
				{{/if}}

				<div class="mfm-chats-list-item__description__message-row__message-content__text">
					{{lastMessage}}
				</div>
			</div>

			{{#if newMessagesCount}}
				{{> "counter/counter" value=newMessagesCount}}
			{{/if}}
		</div>
	</div>
</button>