<div class="mfm-chats-list-column">
	<div class="mfm-chats-list-column__header">
		{{#> "buttonWithChevron/buttonWithChevron"}}
			Profile
		{{/"buttonWithChevron/buttonWithChevron"}}
	</div>
	<div class="mfm-chats-list-column__search-wrapper">
		{{> "searchInput/searchInput" placeholder="Search"}}
	</div>
	<div class="mfm-chats-list-column__chats-list">
		{{> @partial-block }}
	</div>
</div>
